fieldset
{
	width: 70%;
border-radius: 40px;
	margin-top: 5%;
}
button
{
	width: 304px;
	height: 120px;
	border-radius: 70%;
	background-color: green;
	color: white;
	font-size: 20px;
}
legend

{
	font-size: 30px;
}
body
{
	background-image:url('https://images.all-free-download.com/images/graphiclarge/blue_abstract_background_310971.jpg');
	background-repeat:no-repeat;
	background-size:cover;	
}