

fieldset
{
	width: 50%;
	border-radius: 40px;
	
}
legend{
	width:0%;
	align-content: center;
	font-size: 2.776rem;
    color:red ;

}
input
{
	width:70%;
	border-radius: 40px;
	padding: 10px;
	border-color: blue;
}
label
{
	text-align: left;
}
.btn
{
	width:20%;
	background-color:red;
}


